<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_enjoy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_enjoy"
        android:supportsRtl="true"
        android:theme="@style/Theme.EchoEnglishMobile"
        tools:targetApi="31">

        <!-- <activity android:name=".ui.activity.MainActivity"/> -->
<!--        <activity android:name=".ui.dashboard.DashboardActivity"/>-->

<!--        <activity android:name=".view.activity.pronunciation_assessment.PronunciationAssessmentActivity"/>-->
        <activity android:name=".view.activity.webview.WebViewActivity"/>
<!--        <activity android:name=".view.activity.auth.LoginActivity"/>-->
<!--        <activity android:name=".view.activity.auth.SignupActivity"/>-->
        <activity android:name=".view.activity.pronun_summary_result.SummaryResultsActivity"/>
        <activity android:name=".view.activity.flashcard.ScoreActivity"/>
        <activity android:name=".view.activity.flashcard.FolderListActivity"/>
        <activity android:name=".view.activity.flashcard.CardFlip"/>
        <activity android:name=".view.activity.flashcard.WordList"/>
        <activity android:name=".view.activity.flashcard.FolderFormActivity"/>
        <activity android:name=".view.activity.flashcard.WordFormActivity"/>
        <activity android:name=".view.activity.flashcard.MainFlashcardActivity"/>
        <activity android:name=".view.activity.quiz.MainQuizzAppActivity"/>
        <activity android:name=".view.activity.quiz.QuizActivity"/>
        <activity android:name=".view.activity.webview.WebGameActivity"/>
        <activity android:name=".view.activity.chatbot.ChatActivity"/>
        <activity android:name=".view.activity.dictionary.DictionaryWordDetailActivity" />


        <activity
            android:name=".view.activity.dictionary.DictionaryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>